
WCB16/commands.aux

WCB16/commands.fdb_latexmk

WCB16/commands.fls

WCB16/commands.log

WCB16/WCB16.aux

WCB16/WCB16.bbl

WCB16/WCB16.blg

WCB16/WCB16.fdb_latexmk

WCB16/WCB16.fls

WCB16/WCB16.log

WCB16/WCB16.synctex.gz

WCB16/WCB16.pdf
